body {
  Font-family: Arial, sans-serif;
  width: 60%;
  font-size: 14px;
  margin: 0 auto;
}
h1 {
  font-size: 28px;
}
section {
  background-color: rgb(83, 97, 148);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
img {
  width: 35%;
}
div {
  padding: 10px;
  width: 59%;
}
.textbgr1 {
  background-color: rgb(255, 255, 240);
}
.textbgr2 {
  background-color: rgb(171, 183, 224) !important;
}
th, td {
  text-align: left;
}
table {
  float: left;
}
.pencil {
  float: right;
  height: 20px;
  width: 20px;
  padding-top: 10px;
}
